<a href="<%- DEFAULT && DEFAULT['social_email'] && DEFAULT['social_email']['content'] %>"><i class="bi bi-envelope"></i></a>
<a href="<%- DEFAULT && DEFAULT['social_twitter'] && DEFAULT['social_twitter']['content'] %>"><i class="bi bi-twitter-x"></i></a>
<a href="<%- DEFAULT && DEFAULT['social_facebook'] && DEFAULT['social_facebook']['content'] %>"><i class="bi bi-facebook"></i></a>
<a href="<%- DEFAULT && DEFAULT['social_youtube'] && DEFAULT['social_youtube']['content'] %>"><i class="bi bi-youtube"></i></a>